<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.attraction.mapper.AttractionQueryMapper">
	
	<resultMap id="gugunEntity" type="Gugun">
		<result column="gugun_code" property="gugunCode"/>
		<result column="gugun_name" property="gugunName" />
		<result column="sido_code" property="sidoCode" />
	</resultMap>
	
	<resultMap id="sidoEntity" type="Sido">
		<result column="sido_code" property="sidoCode" />
		<result column="sido_name" property="sidoName" />
	</resultMap>
	
	<resultMap type="AttractionInfo" id="attractionInfo">
		<result column="content_id" property="contentId"/>
		<result column="sido_code" property="sidoCode"/>
		<result column="gugun_code" property="gugunCode"/>
		<result column="content_type_id" property="contentTypeId"/>
		<result column="zipcode" property="zipCode"/>
		<result column="first_image" property="firstImage"/>
	</resultMap>
	
	<select id="selectAllGugun" resultMap="gugunEntity">
		select * from gugun
	</select>
	
	<select id="selectAllSido" resultMap="sidoEntity">
		select * from sido;
	</select>
	
	<select id="selectBySidoCode" resultMap="gugunEntity" parameterType="String">
		select * from gugun where sido_code = #{sidoCode}
	</select>
	
	<select id="getAttractionCount" resultType="int">
		select count(*) from attraction_info;
	</select>
	
	<select id="selectByContentId" parameterType="String" resultMap="attractionInfo">
		select * from attraction_info where content_id = #{contentId}
	</select>
</mapper>