<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotplace.mapper.HotPlaceQueryMapper">
	
	<resultMap id="hotPlaceInfo" type="HotPlaceInfoEntity">
		<result column="content_type" property="contentTypeId" />
		<result column="created_at" property="createdAt"/>
		<result column="modified_at" property="modifiedAt"/>
		<result column="recommend_cnt" property="recommendCnt"/>
		<result column="visit_date" property="visitDate"/>
		<result column="hotplace_name" property="title"/>
		<result column="represent_img" property="representImage"/>
		<result column="place_desc" property="placeDesc"/>
		<result column="uid" property="uid"/>
		<result column="content_id" property="contentId" />
	</resultMap>
	
	<resultMap id="hotPlaceRecommend" type="HotPlaceRecommendEntity">
		<result column="user_id" property="uid"/>
		<result column="recommend_time" property="recommendTime"/>
		<result column="created_at" property="createdAt"/>
		<result column="modified_at" property="modifiedAt"/>
	</resultMap>
	
	<resultMap id="hotPlaceReplyEntity" type="HotPlaceReplyEntity">
		<result column="user_id" property="userId"/>
		<result column="hotplace_id" property="hotplaceId"/>
		<result column="write_date" property="writeDate"/>
		<result column="user_image" property="userImage"/>
	</resultMap>
	
	<select id="selectAllHotPlace" parameterType="int" resultMap="hotPlaceInfo">
		select *
		from hotplace_detail
		limit 12
		offset #{offset}
	</select>
	
	<select id="countAllHotPlace">
		select count(*) from hotplace_detail;
	</select>
	
	<select id="selectHotplaceInfoByHotPlaceId" parameterType="String" resultMap="hotPlaceInfo">
		select * from hotplace_detail where id = #{id}
	</select>
	
	<select id="selectHotplaceImageByHotPlaceId" parameterType="String" resultType="String">
		select img_path 
		from hotplace_img
		where hid = #{hid}
	</select>
	
	<select id="getRecommendRecord" parameterType="map" resultMap="hotPlaceRecommend">
		select valid from hotplace_recommend
		where hid=#{hid} and user_id=#{uid}
	</select>
	
	<select id="selectAllHotPlaceInfo" resultMap="hotPlaceInfo">
		select * from hotplace_detail;
	</select>
	
	<select id="selectRecommendByHid" parameterType="int" resultMap="hotPlaceRecommend">
		select * from hotplace_recommend where hid=#{hid}
	</select>
	
	<select id="selectAllReply" parameterType="String" resultMap="hotPlaceReplyEntity">
		select hr.id, hr.user_id, hr.hotplace_id, hr.write_date, hr.content, u.name as author, u.profile_image as user_image
		from hotplace_reply hr
		inner join user u
		on hr.user_id = u.id
		where hr.hotplace_id = #{hotplaceId}
	</select>
	
	<select id="selectOne" parameterType="String" resultMap="hotPlaceReplyEntity">
		select hr.id, hr.user_id, hr.hotplace_id, hr.write_date, hr.content, u.name as author, u.profile_image as user_image
		from hotplace_reply hr
		inner join user u
		on hr.user_id = u.id
		where hr.id = #{replyId}
	</select>
	
</mapper>