<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trip.mapper.TripQueryMapper">

	<resultMap type="AttractionInfo" id="attractionInfo">
		<result column="content_id" property="contentId"/>
		<result column="sido_code" property="sidoCode"/>
		<result column="gugun_code" property="gugunCode"/>
		<result column="content_type_id" property="contentTypeId"/>
		<result column="zipcode" property="zipCode"/>
		<result column="first_image" property="firstImage"/>
	</resultMap>
	
	<resultMap type="TripPlanEntity" id="tripPlanEntity">
		<result column="plan_name" property="planName"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="user_id" property="userId"/>
	</resultMap>
	
	<resultMap id="tripPlanReplyEntity" type="TripPlanReplyEntity">
		<result column="user_id" property="userId"/>
		<result column="plan_id" property="planId"/>
		<result column="write_date" property="writeDate"/>
	</resultMap>
	
	<select id="getSelectedTrip" parameterType="int" resultMap="tripPlanEntity">
		select * from selected_trip_info
		where user_id = #{userId} and (start_date >= sysdate())
	</select>
	
	<select id="getUnSelectedTrip" parameterType="map" resultMap="tripPlanEntity">
		select distinct tp.id, tp.plan_name, tp.start_date, tp.end_date, tp.user_id, u.name as author
		from trip_plan tp
		inner join user u
		on tp.user_id = u.id
		inner join trip_plan_participate tpp
		on tp.id = tpp.plan_id
		where (tp.start_date >= sysdate()) and (tp.user_id = #{userId} or tpp.user_code = #{userCode}) and tp.id not in (
			select id
			from selected_trip_info
			where user_id = #{userId}
		);
	</select>
	
	<select id="getSelectedTripByPlanId" parameterType="map" resultType="int">
		select count(*) from selected_trip
		where user_id = #{userId} and plan_id = #{planId}
	</select>
	
	<select id="searchAttraction" parameterType="com.trip.vo.TripRequest$SearchFilter" resultMap="attractionInfo">
		select * 
		from attraction_info
		<where>
			<if test="sidoCode != 0">
				and sido_code = #{sidoCode}
			</if>
			
			<if test="gunguCode != 0">
				and gugun_code = #{gunguCode}
			</if>
			
			<if test="contentType != 0">
				and content_type_id = #{contentType}
			</if>
			
			<if test="keyword">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
		</where> 
	</select>
	
	<select id="selectByPlanId" parameterType="String" resultMap="tripPlanEntity">
		select tp.id, tp.plan_name, tp.start_date, tp.end_date, tp.user_id, u.name as author
		from trip_plan tp
		inner join user u
		on tp.user_id = u.id
		where tp.id = #{planId};

	</select>
	
	<select id="selectDay" parameterType="String" resultType="Integer">
		select distinct day from trip_plan_places
		where plan_id = #{planId}
	</select>
	
	<select id="getMemberByPlanId" parameterType="String" resultType="String">
		select u.email
		from trip_plan_participate tpp
		inner join user u
		on tpp.user_code = u.user_code
		where tpp.plan_id = #{planId};
	</select>
	
	<select id="selectByPlanIdAndDay" parameterType="map" resultMap="attractionInfo">
		select * from attraction_info
		where content_id in (
			select content_id
			from trip_plan_places
			where plan_id = #{planId} and day = #{day}
			order by visit_sequence asc
		)
	</select>
	
	<select id="selectAllReplies" parameterType="String" resultMap="tripPlanReplyEntity">
		select tpp.id, tpp.user_id, tpp.plan_id, tpp.write_date, tpp.content, u.name as author
		from trip_plan_reply tpp
		inner join user u
		on tpp.user_id = u.id
		where tpp.plan_id = #{planId}
	</select>
	
	<select id="getReplyByIdAndPlanId" parameterType="String" resultMap="tripPlanReplyEntity">
		select tpp.id, tpp.user_id, tpp.plan_id, tpp.write_date, tpp.content, u.name as author
		from trip_plan_reply tpp
		inner join user u
		on tpp.user_id = u.id
		where tpp.id = #{replyId}
	</select>
</mapper>