<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.user.mapper.UserMapper">

	<resultMap type="User" id="user">
		<result column="sido_code" property="sidoCode"/>
		<result column="gugun_code" property="gugunCode"/>
		<result column="user_code" property="userCode"/>
		<result column="profile_image" property="profileImagePath"/>
	</resultMap>
	
	<resultMap type="UserInfo" id="userInfo">
		<result column="sido_name" property="sidoName"/>
		<result column="gugun_name" property="gugunName"/>
		<result column="user_code" property="userCode"/>
		<result column="profile_image" property="profileImagePath"/>
	</resultMap>

	<insert id="insert" parameterType="User">
		insert into user
		values(
			null, #{sidoCode}, #{gugunCode}, #{name}, #{email}, 
			#{password}, #{phone}, #{comment}, #{userCode}, #{profileImagePath},
			#{role}
		)
	</insert>
	
	<select id="selectByEmail" parameterType="String" resultMap="user">
		select * from user where email = #{email}
	</select>
	
	<select id="selectUserInfoByEmail" parameterType="String" resultMap="userInfo">
		select * from user_info where email=#{email}
	</select>
	
	<update id="updateUser" parameterType="User">
		update user set
		sido_code = #{sidoCode}, gugun_code = #{gugunCode}, comment = #{comment}, name = #{name}, phone = #{phone}, 
		profile_image = #{profileImagePath}
		where id = #{id}
	</update>
	
	<update id="updatePassword" parameterType="User">
		update user set 
		password=#{password}
		where id=#{id}
	</update>
	
	<select id="selectByUserNameAndPhone" parameterType="map" resultMap="user">
		select *
		from user
		where name=#{name} and phone=#{phone}
	</select>
	
	<select id="selectAllUserCode" resultType="String">
		select user_code from user;
	</select>
	
	<select id="countAllUser" resultType="int">
		select count(*) from user;
	</select>
</mapper>